<div class="mat-typography">
    <h1>Winter Examination Session </h1>
    <h2> Exam rules </h2>
    <p>Test takers arrive in front of the examination room at least 30 minutes before the exam starts. Due to COVID-19, the test taker comes to the exam with a face mask and can bring drinking water to the examination room. (according to the guidelines related to COVID-19, the school does not provide drinking water) Each test taker in the written part using the test sheets and answer cards should have a pen (pen) with black ink for marking solutions, and may have simple calculator * (according to the COVID-19 guidelines, the school does not provide pens or pens and calculators).
       </p>
    <i>* Simple calculator - is a calculator that allows you to perform only addition, subtraction, multiplication, division, possibly calculating percentages or square roots from numbers. </i>
  </div>
