<div class="container">
    <div class="row">
        <div class="col-xl-4 mx-auto" *ngFor="let card of cards">
            <mat-card>
                <img mat-card-image src={{card.img}} alt="Card image" />

                <mat-card-content class="text-center">

                    <mat-card-subtitle>
                        <h3>{{card.description}}</h3>
                    </mat-card-subtitle>

                    <mat-card-title>
                        {{card.title}}
                    </mat-card-title>

                    <mat-card-subtitle>
                        <h4>phone: {{card.phone}}</h4>
                    </mat-card-subtitle>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>